$light-grey-color: #F5F5F5
$grey-text-color: #8F95A5
$primary-color: #263238


*
    box-sizing: border-box

html
    font-family: "Poppins", sans-serif
    line-height: 1.5rem
    font-size: 1rem
    color: #000
    
    
.container
    position: relative
    max-width: 1400px
    padding: 0 30px
    margin: 0 auto

.main-section
    min-height: 900px
    padding-top: 56px

    &__header-container
        display: flex
        justify-content: space-between
        align-items: center
        height: 60px
        margin-bottom: 65px
    &__logo
        width: 106px
    &__login-btn
        width: 220px
        height: 70px
        border: 2px solid $primary-color
        border-radius: 5px
        font-size: 24px
        background-color: white
    &__content-container
        display: flex
        justify-content: space-between
      

.left-wrapper
    position: relative
    max-width: 560px
    padding-right: 15px
    padding-top: 45px
    &__title
        font-weight: 600
        font-size: 4rem
        line-height: 5rem
        padding-right: 120px
        margin-bottom: 35px
        position: relative
        letter-spacing: 1px
        br:last-child
            display: none

    &__text
        font-size: 1.5rem
        line-height: 2.25rem
        color: #8f95a5
        margin-bottom: 67px
    &__btn
        width: 438px
        height: 118px
        border-radius: 15px
        background-color: $primary-color
        font-size: 36px
        color: white
    &__bulb-icon
        position: absolute
        top: 138px
        right: 18px

.right-wrapper
    &__img
        max-width: 650px

  
.nav-menu
    &__list
        display: flex
        flex-direction: row
    &__list-item
        margin-right: 64px
        font-size: 20px
        font-weight: medium
        &:last-child
            margin-right: 0
        a
            text-decoration: none
            color: black
.title
    font-size: 3rem
    font-weight: 600
    line-height: 5rem
    letter-spacing: 1px
    

.skills-section
    min-height: 1200px
    padding-top: 40px
    &__grid
        display: grid
        gap: 20px
        grid-template: 531px 343px / repeat(3, 1fr)
        grid-template-areas: "one two three" "one four four"
    &__title
        text-align: center
        margin-bottom: 92px

.grid-item
    display: flex
    flex-direction: column
    overflow: hidden
    background-color: $light-grey-color
    padding: 20px 30px 44px 43px
    align-items: stretch
    border-radius: 10px
    &__content
        &_one
            padding-left: 20px
    &_one
        grid-area: one
        padding: 38px 23px 20px 20px
    &_two
        grid-area: two
        max-height: 531px
        padding-top: 35px
        padding-left: 36px
    &_three
        padding-left: 36px
        grid-area: three
    &_four
        grid-area: four
        display: flex
        flex-direction: row-reverse
        justify-content: space-between
        align-items: center
        padding-top: 53px
    
    &__img
        &_one
            margin-bottom: 30px
        &_two
            display: flex
            justify-content: end
            margin-bottom: 15px
            margin-left: 36px
        &_three
            margin-bottom: 35px
            
    &__btn
        color: white
        background-color: $primary-color
        border-radius: 5px
        height: 60px
        width: 218px
        font-size: 20px
        font-weight: 500
        line-height: 30px
        border: none
        cursor: pointer
        transition: 0.3s all
    &__btn:hover
        opacity: 0.8
    &__title
        font-weight: 600
        font-size: 1.875rem
        letter-spacing: 1px
        &_one
            margin-bottom: 30px
        &_two
            margin-bottom: 17px
        &_three
            margin-bottom: 10px
        &_four
            margin-bottom: 20px

    &__text
        font-size: 16px
        font-weight: 400
        color: #8F95A5
        line-height: 24px
        max-width: 360px
        width: 100%
        margin-bottom: 35px  
        &_one:nth-of-type(1)
            margin-bottom: 22px
        &_one:nth-of-type(2)
            margin-bottom: 37px
            max-width: 330px
        &_four
            margin-bottom: 24px
            max-width: 340px

.about-section
    min-height: 900px
    &__containter
        padding-top: 142px
        padding-right: 40px
    &__content
        display: flex
        justify-content: space-between
    &__title
        margin-bottom: 24px
    &__text-content-box
        padding-top: 50px
        max-width: 635px
    &__text
        margin-bottom: 38px

    &__list
        display: flex
    &__img
        padding-top: 20px
    
.about-item
    display: flex
    flex-direction: column
    align-items: center
    margin-right: 148px

    &__title
        color: #263238
        font-weight: 600
        font-size: 3rem
        line-height: 5rem
    &__text
        text-align: center
.about-item:nth-of-type(2)
        margin-right: 93px
.about-item:nth-of-type(3)
        margin-right: 0

    
.text
    color: #8f95a5
    font-size: 1.25rem
    line-height: 1.875rem
    


@media (max-width: 1280px)
    .skills-section__grid
        grid-template-areas: "one two" "three four"
    .listening
        display: block

@media (max-width: 1024px)
    .skills-section__grid
        grid-template-areas: "one" "two" "three" "four"