/* line 6, ../Portfolio/portfolio_1_Britlex_landing_page/src/sass/style.sass */
* {
  box-sizing: border-box;
}

/* line 9, ../Portfolio/portfolio_1_Britlex_landing_page/src/sass/style.sass */
html {
  font-family: "Poppins", sans-serif;
  line-height: 1.5rem;
  font-size: 1rem;
  color: #000;
}

/* line 16, ../Portfolio/portfolio_1_Britlex_landing_page/src/sass/style.sass */
.container {
  position: relative;
  max-width: 1400px;
  padding: 0 30px;
  margin: 0 auto;
}

/* line 22, ../Portfolio/portfolio_1_Britlex_landing_page/src/sass/style.sass */
.main-section {
  min-height: 900px;
  padding-top: 56px;
}

/* line 26, ../Portfolio/portfolio_1_Britlex_landing_page/src/sass/style.sass */
.main-section__header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  margin-bottom: 65px;
}

/* line 32, ../Portfolio/portfolio_1_Britlex_landing_page/src/sass/style.sass */
.main-section__logo {
  width: 106px;
}

/* line 34, ../Portfolio/portfolio_1_Britlex_landing_page/src/sass/style.sass */
.main-section__login-btn {
  width: 220px;
  height: 70px;
  border: 2px solid #263238;
  border-radius: 5px;
  font-size: 24px;
  background-color: white;
}

/* line 41, ../Portfolio/portfolio_1_Britlex_landing_page/src/sass/style.sass */
.main-section__content-container {
  display: flex;
  justify-content: space-between;
}

/* line 46, ../Portfolio/portfolio_1_Britlex_landing_page/src/sass/style.sass */
.left-wrapper {
  position: relative;
  max-width: 560px;
  padding-right: 15px;
  padding-top: 45px;
}

/* line 51, ../Portfolio/portfolio_1_Britlex_landing_page/src/sass/style.sass */
.left-wrapper__title {
  font-weight: 600;
  font-size: 4rem;
  line-height: 5rem;
  padding-right: 120px;
  margin-bottom: 35px;
  position: relative;
  letter-spacing: 1px;
}

/* line 59, ../Portfolio/portfolio_1_Britlex_landing_page/src/sass/style.sass */
.left-wrapper__title br:last-child {
  display: none;
}

/* line 62, ../Portfolio/portfolio_1_Britlex_landing_page/src/sass/style.sass */
.left-wrapper__text {
  font-size: 1.5rem;
  line-height: 2.25rem;
  color: #8f95a5;
  margin-bottom: 67px;
}

/* line 67, ../Portfolio/portfolio_1_Britlex_landing_page/src/sass/style.sass */
.left-wrapper__btn {
  width: 438px;
  height: 118px;
  border-radius: 15px;
  background-color: #263238;
  font-size: 36px;
  color: white;
}

/* line 74, ../Portfolio/portfolio_1_Britlex_landing_page/src/sass/style.sass */
.left-wrapper__bulb-icon {
  position: absolute;
  top: 138px;
  right: 18px;
}

/* line 80, ../Portfolio/portfolio_1_Britlex_landing_page/src/sass/style.sass */
.right-wrapper__img {
  max-width: 650px;
}

/* line 85, ../Portfolio/portfolio_1_Britlex_landing_page/src/sass/style.sass */
.nav-menu__list {
  display: flex;
  flex-direction: row;
}

/* line 88, ../Portfolio/portfolio_1_Britlex_landing_page/src/sass/style.sass */
.nav-menu__list-item {
  margin-right: 64px;
  font-size: 20px;
  font-weight: medium;
}

/* line 92, ../Portfolio/portfolio_1_Britlex_landing_page/src/sass/style.sass */
.nav-menu__list-item:last-child {
  margin-right: 0;
}

/* line 94, ../Portfolio/portfolio_1_Britlex_landing_page/src/sass/style.sass */
.nav-menu__list-item a {
  text-decoration: none;
  color: black;
}

/* line 97, ../Portfolio/portfolio_1_Britlex_landing_page/src/sass/style.sass */
.title {
  font-size: 3rem;
  font-weight: 600;
  line-height: 5rem;
  letter-spacing: 1px;
}

/* line 104, ../Portfolio/portfolio_1_Britlex_landing_page/src/sass/style.sass */
.skills-section {
  min-height: 1200px;
  padding-top: 40px;
}

/* line 107, ../Portfolio/portfolio_1_Britlex_landing_page/src/sass/style.sass */
.skills-section__grid {
  display: grid;
  gap: 20px;
  grid-template: 531px 343px/repeat(3, 1fr);
  grid-template-areas: "one two three" "one four four";
}

/* line 112, ../Portfolio/portfolio_1_Britlex_landing_page/src/sass/style.sass */
.skills-section__title {
  text-align: center;
  margin-bottom: 92px;
}

/* line 116, ../Portfolio/portfolio_1_Britlex_landing_page/src/sass/style.sass */
.grid-item {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: #F5F5F5;
  padding: 20px 30px 44px 43px;
  align-items: stretch;
  border-radius: 10px;
}

/* line 125, ../Portfolio/portfolio_1_Britlex_landing_page/src/sass/style.sass */
.grid-item__content_one {
  padding-left: 20px;
}

/* line 127, ../Portfolio/portfolio_1_Britlex_landing_page/src/sass/style.sass */
.grid-item_one {
  grid-area: one;
  padding: 38px 23px 20px 20px;
}

/* line 130, ../Portfolio/portfolio_1_Britlex_landing_page/src/sass/style.sass */
.grid-item_two {
  grid-area: two;
  max-height: 531px;
  padding-top: 35px;
  padding-left: 36px;
}

/* line 135, ../Portfolio/portfolio_1_Britlex_landing_page/src/sass/style.sass */
.grid-item_three {
  padding-left: 36px;
  grid-area: three;
}

/* line 138, ../Portfolio/portfolio_1_Britlex_landing_page/src/sass/style.sass */
.grid-item_four {
  grid-area: four;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  padding-top: 53px;
}

/* line 147, ../Portfolio/portfolio_1_Britlex_landing_page/src/sass/style.sass */
.grid-item__img_one {
  margin-bottom: 30px;
}

/* line 149, ../Portfolio/portfolio_1_Britlex_landing_page/src/sass/style.sass */
.grid-item__img_two {
  display: flex;
  justify-content: end;
  margin-bottom: 15px;
  margin-left: 36px;
}

/* line 154, ../Portfolio/portfolio_1_Britlex_landing_page/src/sass/style.sass */
.grid-item__img_three {
  margin-bottom: 35px;
}

/* line 157, ../Portfolio/portfolio_1_Britlex_landing_page/src/sass/style.sass */
.grid-item__btn {
  color: white;
  background-color: #263238;
  border-radius: 5px;
  height: 60px;
  width: 218px;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  border: none;
  cursor: pointer;
  transition: 0.3s all;
}

/* line 169, ../Portfolio/portfolio_1_Britlex_landing_page/src/sass/style.sass */
.grid-item__btn:hover {
  opacity: 0.8;
}

/* line 171, ../Portfolio/portfolio_1_Britlex_landing_page/src/sass/style.sass */
.grid-item__title {
  font-weight: 600;
  font-size: 1.875rem;
  letter-spacing: 1px;
}

/* line 175, ../Portfolio/portfolio_1_Britlex_landing_page/src/sass/style.sass */
.grid-item__title_one {
  margin-bottom: 30px;
}

/* line 177, ../Portfolio/portfolio_1_Britlex_landing_page/src/sass/style.sass */
.grid-item__title_two {
  margin-bottom: 17px;
}

/* line 179, ../Portfolio/portfolio_1_Britlex_landing_page/src/sass/style.sass */
.grid-item__title_three {
  margin-bottom: 10px;
}

/* line 181, ../Portfolio/portfolio_1_Britlex_landing_page/src/sass/style.sass */
.grid-item__title_four {
  margin-bottom: 20px;
}

/* line 184, ../Portfolio/portfolio_1_Britlex_landing_page/src/sass/style.sass */
.grid-item__text {
  font-size: 16px;
  font-weight: 400;
  color: #8F95A5;
  line-height: 24px;
  max-width: 360px;
  width: 100%;
  margin-bottom: 35px;
}

/* line 192, ../Portfolio/portfolio_1_Britlex_landing_page/src/sass/style.sass */
.grid-item__text_one:nth-of-type(1) {
  margin-bottom: 22px;
}

/* line 194, ../Portfolio/portfolio_1_Britlex_landing_page/src/sass/style.sass */
.grid-item__text_one:nth-of-type(2) {
  margin-bottom: 37px;
  max-width: 330px;
}

/* line 197, ../Portfolio/portfolio_1_Britlex_landing_page/src/sass/style.sass */
.grid-item__text_four {
  margin-bottom: 24px;
  max-width: 340px;
}

/* line 201, ../Portfolio/portfolio_1_Britlex_landing_page/src/sass/style.sass */
.about-section {
  min-height: 700px;
}

/* line 203, ../Portfolio/portfolio_1_Britlex_landing_page/src/sass/style.sass */
.about-section__containter {
  padding-top: 142px;
  padding-right: 40px;
}

/* line 206, ../Portfolio/portfolio_1_Britlex_landing_page/src/sass/style.sass */
.about-section__content {
  display: flex;
  justify-content: space-between;
}

/* line 209, ../Portfolio/portfolio_1_Britlex_landing_page/src/sass/style.sass */
.about-section__title {
  margin-bottom: 24px;
}

/* line 211, ../Portfolio/portfolio_1_Britlex_landing_page/src/sass/style.sass */
.about-section__text-content-box {
  padding-top: 50px;
  max-width: 635px;
}

/* line 214, ../Portfolio/portfolio_1_Britlex_landing_page/src/sass/style.sass */
.about-section__text {
  margin-bottom: 38px;
}

/* line 217, ../Portfolio/portfolio_1_Britlex_landing_page/src/sass/style.sass */
.about-section__list {
  display: flex;
}

/* line 219, ../Portfolio/portfolio_1_Britlex_landing_page/src/sass/style.sass */
.about-section__img {
  padding-top: 20px;
}

/* line 222, ../Portfolio/portfolio_1_Britlex_landing_page/src/sass/style.sass */
.about-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 148px;
}

/* line 228, ../Portfolio/portfolio_1_Britlex_landing_page/src/sass/style.sass */
.about-item__title {
  color: #263238;
  font-weight: 600;
  font-size: 3rem;
  line-height: 5rem;
}

/* line 233, ../Portfolio/portfolio_1_Britlex_landing_page/src/sass/style.sass */
.about-item__text {
  text-align: center;
}

/* line 235, ../Portfolio/portfolio_1_Britlex_landing_page/src/sass/style.sass */
.about-item:nth-of-type(2) {
  margin-right: 93px;
}

/* line 237, ../Portfolio/portfolio_1_Britlex_landing_page/src/sass/style.sass */
.about-item:nth-of-type(3) {
  margin-right: 0;
}

/* line 241, ../Portfolio/portfolio_1_Britlex_landing_page/src/sass/style.sass */
.text {
  color: #8f95a5;
  font-size: 1.25rem;
  line-height: 1.875rem;
}

/* line 246, ../Portfolio/portfolio_1_Britlex_landing_page/src/sass/style.sass */
.pricing-section {
  min-height: 900px;
  padding-top: 150px;
}

/* line 249, ../Portfolio/portfolio_1_Britlex_landing_page/src/sass/style.sass */
.pricing-section__title {
  text-align: center;
  margin-bottom: 57px;
}

/* line 252, ../Portfolio/portfolio_1_Britlex_landing_page/src/sass/style.sass */
.pricing-section__pricing-box {
  display: flex;
}

/* line 254, ../Portfolio/portfolio_1_Britlex_landing_page/src/sass/style.sass */
.pricing-section__pricing-item {
  margin-right: 25px;
}

/* line 256, ../Portfolio/portfolio_1_Britlex_landing_page/src/sass/style.sass */
.pricing-section__pricing-item:last-child {
  margin-right: 0;
}

/* line 262, ../Portfolio/portfolio_1_Britlex_landing_page/src/sass/style.sass */
.pricing-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 425px;
  width: 100%;
}

/* line 268, ../Portfolio/portfolio_1_Britlex_landing_page/src/sass/style.sass */
.pricing-item_two {
  padding-left: 25px;
}

/* line 271, ../Portfolio/portfolio_1_Britlex_landing_page/src/sass/style.sass */
.pricing-item__title {
  font-weight: 600;
  font-size: 1.875rem;
  line-height: 3rem;
  margin-bottom: 20px;
  letter-spacing: 0.6px;
}

/* line 277, ../Portfolio/portfolio_1_Britlex_landing_page/src/sass/style.sass */
.pricing-item__img {
  height: 332px;
  max-width: 100%;
  margin-bottom: 20px;
}

/* line 281, ../Portfolio/portfolio_1_Britlex_landing_page/src/sass/style.sass */
.pricing-item__img_one {
  padding-left: 25px;
}

/* line 283, ../Portfolio/portfolio_1_Britlex_landing_page/src/sass/style.sass */
.pricing-item__img_two {
  padding-top: 26px;
  padding-left: 1px;
}

/* line 286, ../Portfolio/portfolio_1_Britlex_landing_page/src/sass/style.sass */
.pricing-item__img_three {
  padding-left: 53px;
}

/* line 288, ../Portfolio/portfolio_1_Britlex_landing_page/src/sass/style.sass */
.pricing-item__text {
  margin-bottom: 28px;
  flex: 1 1 auto;
}

/* line 291, ../Portfolio/portfolio_1_Britlex_landing_page/src/sass/style.sass */
.pricing-item__btn {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 240px;
  height: 45px;
  background-color: #eeeeee;
  border-radius: 5px;
  color: #546269;
  font-size: 1.125rem;
  line-height: 1.6875rem;
  border: none;
}

/* line 303, ../Portfolio/portfolio_1_Britlex_landing_page/src/sass/style.sass */
.pricing-item__btn span {
  color: #263238;
  font-size: 1.875rem;
  line-height: 2.8125rem;
}

@media (max-width: 1280px) {
  /* line 311, ../Portfolio/portfolio_1_Britlex_landing_page/src/sass/style.sass */
  .skills-section__grid {
    grid-template-areas: "one two" "three four";
  }
  /* line 313, ../Portfolio/portfolio_1_Britlex_landing_page/src/sass/style.sass */
  .listening {
    display: block;
  }
}

@media (max-width: 1024px) {
  /* line 317, ../Portfolio/portfolio_1_Britlex_landing_page/src/sass/style.sass */
  .skills-section__grid {
    grid-template-areas: "one" "two" "three" "four";
  }
}

/*# sourceMappingURL=style.css.map */